<div class="col-12">
  <h1>Contact Info</h1>
  
      <br>
      <h2>Phone: </h2>512-978-0500
      
      <br>
      
      <h2><a href="https://austintexas.gov/email/animalcustomerservice">Email Us!</a></h2>

      <p>Email Address: <br>info@friendsofaac.org</p>
      
      <br>
      <h2>Physical Address:</h2>
      <br>
      <p>7201 Levander Loop Bldg. A <br>
          Austin, TX 78702</p>
     
      <a href="https://www.google.com/maps?q=7201+Levander+Loop+Bldg.+A+Austin+TX+78702">See Map</a>
      <br>
      <br>
      <p>
      Key Contact: Call 3-1-1
      <br>

      Position: After Hours (If Calling from Outside City limits)
      <br>

      Phone Number: 512-974-2000
      <br>

      Open Hours:
      <br>

      Adoption/Reclaim Hours: Everyday 11am-7pm
      <br>

      Animal Receiving: Mon.-Fri. 11am-7pm
      <br>

      Animal Receiving: Sat.-Sun. 11am-5pm
    </p><br><br>
</div>