<div class="container">
  <h2>Contact Us</h2>
  
      <br>

      <h3>Phone</h3>

      <p>512-978-0500</p>

      <br/>
      
      <h3>Email</h3>
      
      <p>
      <a href="https://austintexas.gov/email/animalcustomerservice">info@friendsofaac.org</a>
      </p>

      <br/>

      <h3>Physical Address</h3>

      <p>7201 Levander Loop Bldg. A <br>
          Austin, TX 78702</p>

      <p>
        <a href="https://www.google.com/maps?q=7201+Levander+Loop+Bldg.+A+Austin+TX+78702">See Map</a>
      </p>

      <br/>

      <!-- <p>
      Key Contact: Call 3-1-1
      </p>
        
        <p>If calling from outside Austin: 512-974-2000</p>
      <br> -->


      <h3>Hours</h3>
      <p>
        Adoption/Reclaim Hours: Everyday 11am-7pm
      </p>
      <p>
        Animal Receiving: Mon.-Fri. 11am-7pm  
      </p>
      <p>
        Animal Receiving: Sat.-Sun. 11am-5pm          
      </p>

</div>