footer {
  /* padding-top: 15px; */
  /* background: #f8f9fa; */
  /* background: #484848; */
  background: #f8f9fa;
  font-family: Oswald;
  color: #444;
  margin-top: 50px;
  font-size: 0.9rem;
  padding: 20px;
  text-align: center;
}

a {
  color: #444;
  text-decoration: underline;
}
