<!-- <div layout='row'>
  <mat-toolbar class='footer'>
    <span id='copyright'>2018 Austin Animal Center</span>
  </mat-toolbar>
</div> -->

<footer class="page-footer footer gray ">
  
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">Thanks for your interest in adoption!</h5>
        <p>Please <a href='http://www.austintexas.gov/department/aac'>contact us</a> if you have any questions.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">Helpful links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.austintexas.gov/department/aac">Austin Animal Center</a>
          </li>
          <li>
            <a href="http://www.austintexas.gov/department/animal-adoption">How to adopt</a>
          </li>
          <li>
            <a routerLink="/contact">Contact us</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2018 Austin Animal Center
    </div>
  </div>

</footer>

