<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <img class="navbar-brand" src="../../../assets/AAC-Logo-Canopy.png" style="height: 30px; width: auto;" alt="">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="animals" class="nav-link" routerLinkActive="active" >Home </a>
        </li>
        <li class="nav-item">
            <a routerLink="contact" class="nav-link"  routerLinkActive="active" >Contact</a>
        </li>
        <li class="nav-item">
            <a routerLink="lost" class="nav-link"  routerLinkActive="active" >Lost Me? </a>
        </li>
      </ul>
    </div>

  </nav>

  