nav.navbar {
    /* background: #484848; */
}

a {
    font-family: Oswald;
    font-size: 1.2rem;
}

img {   
    width: 75%;
    height: 5%
}

.navbar-brand {
    height: 50px;
    width: auto;
    margin: 10px;
}

.nav-link, .nav-item {
    padding-left: 20px;
}

li.nav-item a.nav-link.active {
    color: #d3313a;
}

