<div class="container">

  <h2>Steps to Adopt</h2>

  <ul>

  <li>Visit the Austin Animal Center any day from 11am to 7pm. </li>

  <li>Stop in at the front desk to pick up a map of the facility to ensure you see all the animals available for viewing. </li>

  <li>Meet and greet available pets and select the right match for your family.</li>

<li>You can complete a
  <a href="http://austintexas.gov/online-form/visitor-profile">Visitor Profile</a> before you visit.</li>
  
  <li>Once you have found the pet you want, you can meet with an adoption counselor to learn about the pet.</li>

  <li>If the animal is available and already spayed or neutered, you can complete your adoption and bring your new pet home. If your pet needs to be altered, you will come and pick up your pet after it has been altered.</li>

  </ul>

  <h3>What to Bring for Adoptions</h3>
  <p>All you need to bring is a valid photo ID when you're ready to adopt. We accept Driver's license, US or International passport, Government or other official photo identification, and Mexican Consulate Cards.</p>

  <h3>Fees</h3>
  <p>AAC accepts cash, checks and all major credit cards except American Express. The adoption fee for cats and dogs is $75 and includes the following:</p>

  <ul>
    <li>Spay or neuter surgery</li>
    <li>Vaccines including the rabies vaccine if the pet is over four months</li>
    <li>A HomeAgain microchip</li>
    <li>An adjustable, nylon collar and tag (dogs only)</li>
  </ul>

<p>NOTE: Please visit the
  <a href="http://www.austintexas.gov/department/aac">Austin Animal Center website</a> for updated information!</p>


</div>
