.carousel, .carousel:focus {
    width: calc(100% + 48px) !important;
    margin: 0 -24px 16px -24px !important;
    outline: none;
}

#title-name {
    font-size: 3rem;
    font-family: Oswald;
}

/* #title-name:hover {
    color: orangered;
} */

.mat-card {
    color: #444;
    font-family: Oswald;
    font-size: 1.25rem;
    transition: all .3s ease-in-out;

}

.mat-card:hover {
  transform: scale(1.015);
}

.mat-card:hover #title-name {
    color: #f9a11b;
}

/* button.mat-button:hover {
    background: #f9a11b;
    color: #fff;

} */

span.mat-button-wrapper {
  font-family: Oswald;
}
