<mat-card *ngIf="animal" class="example-card">
  <mat-card-header>
    <mat-card-title id='title-name'>{{animal.name}}</mat-card-title>
    <mat-card-subtitle>{{animal.id}}</mat-card-subtitle>
  </mat-card-header>
  <mdb-carousel [isControls]="true" interval="0">
    <mdb-slide *ngFor="let image of animal.photo_urls">
      <img mat-card-image [src]="image">
    </mdb-slide>
  </mdb-carousel>
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <div>
          <strong>Gender: </strong>{{animal.sex === Gender.MALE ? 'Male' : 'Female'}}
        </div>
        <div>
          <strong>DOB: </strong>{{animal.dob | date: 'shortDate'}}
        </div>
        <div>
          <strong>Kennel #: </strong>{{animal.kennel}}
        </div>
        <div>
          <strong>Energy Level: </strong>{{animal.energy_level}}
        </div>
      </div>
      <div class="col-6">
        <div>
          <strong>Weight: </strong>{{animal.weight}} lbs
        </div>
        <div>
          <strong>Days in Shelter: </strong>{{daysInShelter()}}
        </div>
        <div>
          <strong>Dog Friendly: </strong>{{animal.dog_friendly ? 'Yes' : 'No'}}
        </div>
        <div>
          <strong>Cat Friendly: </strong>{{animal.cat_friendly ? 'Yes' : 'No'}}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        {{animal.notes}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="getPetInfo()">MORE INFO</button>
  </mat-card-actions>
</mat-card>