<h1>Have you Lost your Pet?</h1>

<p>
    Visit Austin Animal Center to look for your lost pet as soon as possible.
    All types of domestic and unique pets, exotic animals, farm animals and 
    wildlife may be brought to the center. Due to the large number of animals,
    some may be held for only three days or less after intake.
    Please visit the shelter every day and search our <a routerLink="/animals" routerLinkActive="active" >database</a>
    to check for your lost pet.
</p>

<br>
<h2>To Reclaim your Pet from Austin Animal Center</h2>
<p> 1. You must visit Austin Animal Center to reclaim your pet.
  <br>  2. Bring proof of ownership like vet records or a photo ID of your pet to reclaim.
    You will also need your photo ID. We accept Driver's license,
    US or International passport, Government or other official photo identification,
    and Mexican Consulate Cards.</p>